[Unit]
Description=Poll Service
After=multi.user.target
Conflicts=getty@tty1.Service

[Service]
Type=simple
Environment="REDIS_HOST={{ REDIS_HOST }}"
WorkingDirectory=/etc/systemd/system/poll.service
ExecStart=/usr/bin/python3 /etc/bin/poll/app.py
StandardInput=tty-force
Restart=always

[Install]
WantedBy=multi-user.target